<div id="containershow">
    <nav>
        <a class="navlink" href="/CoursePage/List">Back To Authors</a>
    </nav>
    <h2>New Course</h2>
    <form method="POST" action="/api/Course/AddCourse">
        <div class="inputrow">
            <label for="CourseCode">Course Code:</label>
            <input type="text" id="CourseCode" name="coursecode" required />
        </div>
        <div class="inputrow">
            <label for="CourseName">Course Name:</label>
            <input type="text" id="CourseName" name="coursename" required />
        </div>
        <div class="inputrow">
            <label for="StartDate">Start Date:</label>
            <input type="date" id="StartDate" name="startdate" required />
        </div>
        <div class="inputrow">
            <label for="FinishDate">Finish Date:</label>
            <input type="date" id="FinishDate" name="finishdate" required />
        </div>
        <div class="inputrow">
            <label for="TeacherId">Teacher ID:</label>
            <input type="number" id="TeacherId" name="teacherid" required />
        </div>
        <div class="inputrow">
            <input type="submit" value="Create Course" />
        </div>
    </form>
</div>
